* {
    box-sizing: border-box;
}


.container {
    width: 90%;
    margin: 0px auto;
    color: rgb(104, 104, 104);
    font-family: "Lobster", cursive;
}

.container header {
    width: 100%;
    text-align: center;
    padding: 1em;
    margin-top: 20px;
    border-bottom: 1px solid black;
}
.container header h1,h4 {
    margin: 0px;
}
img {
    width: 40%;
}
.content_wrapper {
    display: flex;
    width: 100%;
    padding: 10px;
}

.content_wrapper nav,article,main {
    flex-basis: 15%;
    margin: 10px;
    padding: 20px;
}


.content_wrapper article,main {
    text-align: center;
    border: 1px solid rgb(116, 114, 114);
    border-radius: 10px;
}

.content_wrapper nav {

}
.content_wrapper nav {
    padding: 1em;
    width: 10%;
}
nav div {
    margin-bottom: 20px;
  }
.content_wrapper article {
    flex-grow: 2;
}
.content_wrapper main {
    flex-grow: 4;
}

.content_wrapper main img {
    width: 80%;
    border-radius: 10px;
}
.content_wrapper article img {
    width: 100%;
    border-radius: 10px;
}