$dark-theme: true;
///Color de fondo
$background-color: #c4bdbd;
///Color letras
$color: #1f1e1e;
///Color fondo body
$body-background: #FFF;

@if $dark-theme {
    $background-color: #272626;
    $color: #c4bdbd;
}

///lista de colores
$lista-colores: rgb(153, 36, 36),rgb(72, 204, 72),rgb(255, 168, 6),rgb(93, 93, 170);